#header::after{
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  content: "";
}

.background{
  position: relative;
}

#header{
  background-color: white; /* Used if the image is unavailable */
  height: 250px; /* You must set a specified height */
  width: 100%;
  background-position: center; /* Center the image */
  background-size: cover;
  position: relative;
  opacity: 0.5;
  filter: brightness(80%);
}
