
body{
  width: 80%;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -12em;
  left: 0;
  right: 0;
  color: white;
}
.header-end{
  border-bottom: 1px solid white;
  font-size: 1em;
  font-weight: 400;
}
.category{
  width: 200px;
  height: 140px;
  border: 2px solid gainsboro;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  transition: 0.3s;
}
.center{
  height: 100%;
display: flex;
  flex-direction: column;
justify-content: center;
}

.centrik{
  padding-top: 5px;
  display: flex;
  position: relative;
  justify-content: center;
}
.count{
  position: absolute;
  right: 5px;
  font-size: 11px;
  color: gray;
}

.last{
  max-height: 35%;
}
.categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img{
  width: 100%;
  max-height: 75%;
}
.name{
  margin: 0;
  text-align: center;
  color: gray;
}


.category:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
