@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  width: 78%;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -12em;
  left: 0;
  right: 0;
  color: white;
  height: auto;
}
.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
.my-dialog {
  position: relative!important;
}

#cdk-overlay-0{
  position: relative;
}
