body{
  width: 80%;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -12em;
  left: 0;
  right: 0;
  color: white;
}
.kategoria{
  margin: 0px;
  padding-left: 5px;
}

.header-end{
  //border-bottom: 1px solid white;
  //font-size: 1em;
  //font-weight: 400;
  //display: flex;
  //align-items: center;
  //margin: 0px;
  border-bottom: 1px solid white;
  font-size: 1em;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}
.category{
  width: 13em;
  height: 10em;
  //border: 2px solid gainsboro;
  border-radius: 2px;
  margin: 10px 23px 10px 0px;
  transition: 0.3s;
}
.center{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last{
  max-height: 35%;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.closebtn {
  cursor: pointer;
  color: white;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}
#expandedImg{
  width: auto;
  height: auto;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  flex-direction: column;
}

.categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img{
  max-width: 100%;
  height: 100%;
}
.name{
  margin: 0;
  text-align: center;
  color: black;
}

.back{
  width: 1.7em;
}

#imagee{
  background-color: white; /* Used if the image is unavailable */
  height: 250px; /* You must set a specified height */
  background-position: center; /* Center the image */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: initial;
  //opacity: 0.5;
  filter: blur(8px) brightness(60%);
}

.category:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
.expandedImgWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.xButton{
  font-size: 3em;
  padding-right: 8px;
}
.zavrietButton{
  font-size: 0.8em;
  margin: 0;
}
