<header >
  <div id="imagee"></div>
</header>
<body id="wrapper">
  <h1>Fotogaleria </h1>
  <h2 class="header-end">
    <img [routerLink]="['/']" class="back" src="assets/icons/back.svg" alt="Italian Trulli">
    <p class="kategoria">{{this.category}}</p>
  </h2>

  <div id="firstElement" class="categories">
    <div *ngFor="let photo of this.photos; let i = index" class="category">
      <app-the-image [indexOfImage]="i" [fromCategory]="true" [imagesInGallery]="photo" [category]="this.category" ></app-the-image>
    </div>

    <div (click)="openAddFileDialog()" class="category">
      <div class="center">
        <img class="last" src="assets/icons/plusIcon.svg" alt="Italian Trulli">
        <p class="name">Pridat fotku</p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  </body>

  <div (click)="close()" onclick="this.style.display='none'" id="overlay" class="container">
    <!-- Close the image -->

    <!-- Expanded image -->
    <div class="expandedImgWrapper">
      <div class="close closebtn">
        <span class="xButton">&times;</span>
        <p (click)="close()" onclick="this.parentElement.style.display='none'" class="zavrietButton"> ZAVRIEŤ</p>
      </div>

      <img id="expandedImg">
  </div>

    <!-- Image text -->
    <div id="imgtext"></div>
</div>
