body{
  width: 80%;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -12em;
  left: 0;
  right: 0;
  color: white;
}
.wrapper-category{
  border: 2px solid gainsboro;
  border-radius: 5px;
  width: 12em;
  height: 10em;
  position: relative;
  display: flex;
}

.wrapper-image{
  border: 2px solid gainsboro;
  border-radius: 5px;
  width: 12em;
  height: 10em;
}
.header-end{
  border-bottom: 1px solid white;
  font-size: 1em;
  font-weight: 400;
}
.category{
  width: 200px;
  height: 140px;
  margin: 10px 10px 10px 0;
  transition: 0.3s;
}
.center{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centrik{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0px;
}
.count{
  position: absolute;
  right: 5px;
  font-size: 11px;
  color: gray;
}
.imageWrapper{
  display: flex;
  width: 100%;
  height: 75%;
}

.loading{
  margin: auto;
}


.last{
  max-height: 35%;
}
.categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;

}
img{
  width: 100%;
  //max-height: 75%;
  margin-top: 0px;
}
.imageInCategory{
  width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
//.imageInGalleries{
//
//  width: 100%;
//  max-height: 100%;
//}

.name{
  margin: 0;
  text-align: center;
  color: gray;
}


.category:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
