@import "../../styles/shared/variables";

.wrapper-category{
  border-radius: 5px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}


.wrapper-image{
  border-radius: 5px;
  width: 12em;
  height: 10em;
}


.centerName{
  border: 2px solid gainsboro;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;

}
.count{
  font-size: 14px;
  color: $color-gray-info;
  display: none;
  visibility: visible;
  align-self: center;
  transition: 0.3s;
  margin-top: 2px;
}
.imageWrapper{
  display: flex;
  width: 100%;
  height: 72%;
  transition: 0.3s;
  position: relative;
}
.deleteImage{
  display: none;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 15px;
}

.loading{
  margin: auto;
}


.last{
  max-height: 35%;
}

.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;

}
//img{
//  width: 100%;
//  //max-height: 75%;
//  margin-top: 0px;
//  //border-radius: 3px;
//  border-top-right-radius: 3px;
//  border-top-left-radius: 3px;
//}
.imageInCategory{
  width: 100%;
  max-height: 100%;
  border-radius: 5px;
  object-fit: cover;

}
.imageInGalleries{
  width: 100%;
  //max-height: 75%;
  margin-top: 0px;
  //border-radius: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  object-fit: cover;
}

.name{
  margin: 0;
  text-align: center;
  font:{
    weight: 600;
    size: 0.9em;
  }
  color: rgba(91, 91, 91, 0.9);
  text-transform: uppercase;
}


.wrapper-category:hover{
  transform: scale(1.05);
  .imageWrapper{
    height: 60%;
  }
  .deleteImage{
    display: inline-block;
  }

}
.wrapper-category:hover .count{
    display: block;
}
