  <div class="wrapper-category toto" (mouseenter)="onMouseMove()" *ngIf="fromCategory != true">
    <div class="imageWrapper">
      <p (click)="deleteGallery()" class="deleteImage">X</p>
      <img routerLink="/gallery/{{gallery.path}}" class="imageInGalleries" *ngIf="!loading"
         src="{{this.image}}" alt="Italian Trulli">
      <img style="width: 5em" class="loading" *ngIf="loading" src="./assets/icons/loading.svg" alt="Italian Trulli">
    </div>

    <div routerLink="/gallery/{{gallery.path}}" class="centerName">
      <p class="name">{{gallery.name}} </p>
      <p class="count">
        {{this.numberOfImages}}  {{this.declension()}}
      </p>
    </div>
  </div>

  <!--v kategorii-->
  <div  class="images" *ngIf="fromCategory == true">
    <img id="{{this.indexOfImage}}"   class="imageInCategory" *ngIf="!loading" (click)="showImage(this.image)" src="{{this.image}}" alt="Italian Trulli">
    <img style="width: 5em" class="loading" *ngIf="loading" src="./assets/icons/loading.svg" alt="Italian Trulli">
  </div>
