@import "../../styles/shared/variables";
body{
  width: 80%;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -12em;
  left: 0;
  right: 0;
  color: white;
}
.headerName{
  font: {
    weight: 500;
    size: 1.4em;
  }
  letter-spacing: 1px;
  color: $color-header-name;
}
.header-end{
  border-bottom: 2px solid transparentize($color-header-name, 0.7);
  font-size: 0.9em;
  font-weight: 410;
  color: $color-header-name;
  padding: {
    top: 15px;
    bottom: 8px;
  }
}
.category{
  width: 15em;
  height: 12em;
  margin: 17px 25px 10px 0;
  transition: 0.3s;
  cursor: pointer;
}
@media only screen and (max-width: 677px) {
  .category{
    flex-grow: 0.8;
    height: auto;
  }
}

.center{
  height: 100%;
  width: 100%;
display: flex;
  flex-direction: column;
justify-content: center;
}


.centrik{
  padding-top: 5px;
  display: flex;
  position: relative;
  justify-content: center;
}
.count{
  position: absolute;
  right: 5px;
  font-size: 11px;
  color: gray;
}

.last{
  max-height: 35%;
}
.categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img{
  width: 100%;
  max-height: 75%;
}
.name{
  margin: 0;
  text-align: center;
  color: gray;
}


//.category:hover{
//  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
//}

.newCategory{
  border: 2px solid gainsboro;
  border-radius: 5px;
  width: 15em;
  height: 12em;
  margin: 10px 25px 10px 0;
  position: relative;
  display: flex;
}


