@import "../../styles/shared/variables";
@import "../../styles/shared/mixins";

.headerName{
  @include header-name;
}
.header-end{
  @include header-end;
}
.category{
  @include category;
}
.newCategory{
  @include category;
}
@media only screen and (max-width: 735px) {
  .category{
    flex-grow: 1.6;
    //height: auto;
  }
  .newCategory{
    flex-grow: 0.6;
    max-height: 13em;
  }
}

.centerAdd{
  @include addGalImg;
}

.lastImage{
  @include add-gal-img-plus;
}

.categories{
  @include allCategories;
}
img{
  width: 100%;
  max-height: 75%;
}
.addCategory{
  @include add-gal-img-name
}

.newCategory{
  position: relative;
  display: flex;
}
.newCategory:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
